body {
    background-color: #000000;
    color: #ffffff;
    font-family: Tahoma, Bitstream Vera Sans, Arial;
}
a {
    color: #99ff99;
    text-decoration: none;
    &:hover
    {
        color: #00cc00;
    }
}
p {
    margin-top: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 16px;
    list-style-type: none;
}
#main_container {
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    border: 1px solid #ffffff;
    padding: 0px;
    width: 962px;
    height: 452px;
    text-align: left;
    overflow: auto;
    &.splash {
        background-repeat: no-repeat;
        background-position: center top;
        text-align: center;
        overflow: hidden;
    }
    #splash_overlay {
        opacity: 0.0;
        filter: alpha(opacity=0);
    }
    #inner_container {
        padding: 5px;
    }
}
.navbar {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 960px;
    #title_link {
        color: #ffffff;
    }
    .active {
        font-weight: bold;
        pointer-events: none;
        cursor: default;
        color: #00cc00;
    }
}
.green {
    color: #00cc00;
}
.green_muted {
    color: #99ff99;
}
.italic {
    font-style: italic;
}
.skill {
    @extend .green_muted;
    @extend .italic;
}
pre {
    &.source_code {
        font-family: Consolas, monospace;
        margin-left: 48px;
    }
}
.small {
    font-size: 0.8em;
}
.underline {
    text-decoration: underline;
}
