%div.navbar
    -if request.path != '/'
        %a class="{% if request.path.startswith('/about') %}active{% endif %}" href="{{ url_for('about') }}"
            About
        \||
        %a class="{% if request.path.startswith('/skills') %}active{% endif %}" href="{{ url_for('skills') }}"
            Skills
        ::
        %a class="{% if request.path.startswith('/work') %}active{% endif %}" href="{{ url_for('work') }}"
            Work History
        ::
        %a class="{% if request.path.startswith('/education') %}active{% endif %}" href="{{ url_for('education') }}"
            Education
        ::
        %a class="{% if request.path.startswith('/contact') %}active{% endif %}" href="{{ url_for('contact') }}"
            Contact
        %br
    %a#title_link href="{% if request.path == '/' %}{{ url_for('about') }}{% else %}{{ url_for('index') }}{% endif %}"
        %strong
            John Dietrick
    :: Beijing
