-extends "_normal.haml"
-block content
    %p
        Originally hailing from the American Midwest, I passed through the Pacific Northwest for a few years en route to my current home in one of the Far East's biggest and busiest cities.
    %p
        By day (and often by night), I'm a versatile developer, at one point or another having written code at nearly every level of the stack. My specialties lie in the realm of systems-level code, but I also enjoy architecting, developing, and maintaining robust API platforms.
    %p
        In general, I'm passionate about tackling challenging, fundamental problems with code that is fast, efficient, and organized.
    %p
        When I'm not working, you'll probably find me pursuing one of the hobbies I've accumulated along the way: running, Ultimate, drinking coffee, and/or brushing up on my Chinese. Feel free to
        %a href="{{ url_for('contact') }}" ><
            get in touch
        \.
