-extends "_normal.haml"
-block content
    %strong.green
        Bachelor of Science, Computer Engineering
    &nbsp;with High Honors
    %br
    International Minor in Engineering, Chinese concentration
    %br
    University of Illinois at Urbana-Champaign, May 2009
    %br
    %br
    Summer language and culture program
    %br
    Tsinghua University (Beijing, PRC), May - July 2008
