-extends "_normal.haml"
-block content
    %strong
        Software
    %br
    %span.skill
        Disciplines
    : Systems programming, platform and API architecture, web applications, native mobile applications
    %br
    %span.skill
        Languages
    : C, C++, Python, Java, PHP
    %br
    %span.skill
        Web
    : Django, uWSGI, nginx
    %br
    %span.skill
        Script/other
    : Perl, Python, SQL (MySQL and PostgreSQL), JavaScript, SVG
    %br
    %span.skill
        OS/toolchain
    : Linux, Android, Windows, iOS
    %br
    %br
    %strong
        Hardware
    %br
    Logic design, digital systems, VHDL, microprocessor architecture, control systems
    %br
    %br
    %strong
        Foreign Language
    %br
    %span.skill
        Mandarin Chinese
    : professional working proficiency; literate to roughly 3000 words/2000 characters