-extends "_normal.haml"
-block content
    %p
        %strong
            Software
        %br
        %span.skill><
            Disciplines
        : Systems programming, platform and API architecture, web applications, native mobile applications
        %br
        %span.skill><
            Languages
        : C, C++, Python, Java, PHP
        %br
        %span.skill><
            Web
        : Django, uWSGI, nginx
        %br
        %span.skill><
            Script/other
        : Perl, Python, SQL (MySQL and PostgreSQL), JavaScript, SVG
        %br
        %span.skill><
            OS/toolchain
        : Linux, Android, Windows, iOS
    %p
        %strong
            Hardware
        %br
        Logic design, digital systems, VHDL, microprocessor architecture, control systems
    %p
        %strong
            Foreign Language
        %br
        %span.skill><
            Mandarin Chinese
        : professional working proficiency