-extends "_normal.haml"
-block content
    %br
    %br
    %center
        %h2
            View
            %a.underline href="/static/cv.pdf" <
                my full CV.
            .
    %br
    %br
    %hr
    %span.italic
        Chief Technology Officer
    %br
    %strong.green><
        Gather Health (
        %a href="https://www.gatherhealth.com" <
            https://gatherhealth.com
        )
    , Beijing, PRC (Aug 2013 - Apr 2016)
    %br
    %hr
    %span.italic
        Software Engineer
    %br
    %strong.green><
        Synerchip (d/b/a MultiMedia Crossing, Inc.)
    , Beijing, PRC (Jun 2012 - Jul 2013)
    %br
    %hr
    %span.italic
        Software Engineer
    %br
    %strong.green><
        TrustGo Mobile, Inc.
    , Beijing, PRC (Nov 2011 - Jun 2012)
    %br
    %hr
    %span.italic
        Software Development Engineer (I, II)
    %br
    %strong.green><
        Microsoft Corporation
    , Redmond, WA (Aug 2009 - Nov 2011)
    %br
    %hr
    %span.italic
        Software Engineering Intern
    %br
    %strong.green><
        Motorola, Inc.
    , Schaumburg, IL (May 2007 - Aug 2007)
    %br
    %hr
    %span.italic
        Software Engineering Intern
    %br
    %strong.green><
        Motorola, Inc.
    , Schaumburg, IL (May 2006 - Aug 2006)
    %br
    %hr
    %span.italic
        Intern
    %br
    %strong.green><
        Motorola, Inc.
    , Arlington Heights, IL (May 2005 - Aug 2005)
